a {
  color: black;
}

.home {
  --primary: #000;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.home {
  --light: yellow;
} 
  
header {
  /* position: fixed; */
  background-color: var(--primary);
  width:100%;
  top:0;
  z-index: 10000;
}

header nav a {
  display: block;
  font-size: 1.5em;
  padding: 5px 10px 5px 10px;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.social-nav {
  justify-content: center;
  display: flex;
}
    
.big-hero {
  background-image: url("../images/bighero.png");
  background-size: cover;
  background-position:50% 50%;
  background-repeat: no-repeat;
  height: 50vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

h1, li {
  display: block;
  text-transform: uppercase;
  font-size: 42px;
  color: black;
}
    
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
    
section {
  /* border: 2px solid var(--primary); */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 1000px;
  margin: 20px;
  padding: 20px;
}

.gallery {
  border: 0px;
  display: grid;
  grid-template-columns: 1fr;
}

.gallery-image {
  margin: 10px;
}

.calendar {
  border: 0px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 90%;
  height: 90vh;
  margin: 0px auto 0px auto;
  border: 1px solid black;
}

th,td {
  border: 1px solid black;
}

form {
  border: 2px solid black;
  padding: 10px;
  text-transform: uppercase;
}

input {
  margin: 10px;
}
    
footer {
  background-color: var(--primary);
}
    
footer nav a {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1.5em;
  padding: 10px 20px 10px 20px;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
}
  
footer {
  background-color: var(--primary);
}
  
footer nav a {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1.5em;
  padding: 10px 20px 10px 20px;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown {
  display: block;
}

.dropdown-content {
  background-color: var(--primary);
  display: none;
  position: absolute;
  }

.dropdown-content a {
  color: var(--light);
  display: block;
  text-align: center;
}
    
a:hover {
  color: var(--primary);
  background-color: var(--light);
}

@media screen and (min-width: 768px) {
  header nav a {
    font-size: 1.5em;
  }
  
  footer nav a {
    font-size: 1.5em;
  }
  
  .dropdown {
    display: inline-block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
  
@media screen and (min-width: 990px) {

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    position: fixed;
  }

  header nav a {
    display: inline-block;
  }

  nav a, .social-nav {
    display: inline;
  }
  .social-nav {
    float: right;
  }

  .content-wrapper {
    display: flex;
  }
 
  section {
    
    /* border: 2px solid var(--primary); */
    margin: 20px;
    padding: 20px;
  }
  
  .section-image {
    width: 30%;
  }
  
  .section-content {
    display: flex;
    width: 70%;
    text-align: left;
    align-items: center;
    padding: 30px;
  }
  
  .big-hero {
    margin-top: 0px; 
    height: 100vh;
  }
  
  h1 {
    font-size: 42px;
  }

  .dropdown {
    display: inline-block;
  }
  .dropdown:hover .dropdown-content a {
    display: block;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}