
  .home {
    --primary: #000;
  }
  
  ::selection {
    background-color: var(--season-primary);
    color: #fff;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }

  body {
    margin: 0;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  
.home {
  --light: yellow;
}
    
  
header {
  position: fixed;
  background-color: var(--primary);
  width:100%;
  top:0;
  z-index: 10000;
}

header nav a {
  display: block;
  font-size: 1.5em;
  padding: 5px 10px 5px 10px;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.social-nav {
  justify-content: center;
  display: flex;
}
    
.big-hero {
  background-image: url("../images/bighero.png");
  background-size: cover;
  background-position:50% 50%;
  background-repeat: no-repeat;
  height: 50vh;
  margin-top: 145px;
  display:flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
h1 {
  display: block;
  text-transform: uppercase;
  font-size: 42px;
}
    
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.black {
  color: yellow;
  background-color: black;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

img {
  border-radius: 25px 25px 0px 0px;
}

.section-content {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.content-wrapper {
  border-radius: 25px;
  border: 0px solid var(--primary);
  margin: 20px;
  padding-bottom: 20px;
  background-color: yellow;
}

.social-nav {
    justify-content: center;
    display: flex;
}

footer {
  background-color: var(--primary);
}
    
footer nav a {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1.5em;
  padding: 10px 20px 10px 20px;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown {
  display: block;
}

.dropdown-content {
  background-color: var(--primary);
  display: none;
  position: absolute;
  }

.dropdown-content a {
  color: var(--light);
  display: block;
  text-align: center;
}
    
a:hover {
  color: var(--primary);
  background-color: var(--light);
}

@media screen and (min-width: 768px) {
  header nav a {
    font-size: 1.5em;
  }
  
  footer nav a {
    font-size: 1.5em;
  }
  
  .dropdown {
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    align-content: center;
  }
}
  
@media screen and (min-width: 990px) {
  section {
    border: 0px solid var(--primary);
  }
  
  header nav a {
    display: inline-block;
  }

  nav a, .social-nav {
    display: inline;
  }
  .social-nav {
    float: right;
  }

  .content-wrapper {
    display: flex;
  }
 
  section {
    margin: 20px;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .founders {
    grid-template-columns: 1fr 1fr;
  }
  
  .section-image {
    width: 100%;
  }
  
  .section-content {
    display: flex;
    width: 70%;
    text-align: left;
    align-items: center;
    padding: 10px;
  }
  
  .big-hero {
    margin-top: 0px; 
    height: 100vh;
  }
  
  h1 {
    font-size: 42px;
    column-span: all;
  }

  .dropdown {
    display: inline-block;
  }
}